<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<style>
  .aaa{
    font-size: 12px;
    color: #00f;
  }
</style>
<body>
  <div class="aaa">pdf demo</div>
  <table>
    <thead>
      <th>Key</th>
      <th>Value</th>
    </thead>
    <tbody>
      {{#each data}}
        <tr>
          <td>{{key}}</td>
          <td>{{value}}</td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</body>
</html>